<form>
    <div class="ui-g-12">
        <div class="ui-g-7">
            <div class="ui-g-2">
                <label>Active Ingredient</label>
            </div>
            <div class="ui-g-2">
                 <input type="text" pInputText />
            </div>
                   
               
                <div class="ui-g-1">
                     <p-checkbox name="groupname" value="With Salt"></p-checkbox>
                    </div>
                    <div class="ui-g-1">
                         <label>With Salt</label>
                    </div>
             
               <div class="ui-g-1">
                   <p-dropdown [options]="options"> </p-dropdown>
               </div>
                
</div>
           </div>
            <!-- <h:panelGrid columns="4" cellpadding="5" >
                <h:outputText  value="Drug Class" />

                <p:selectOneMenu >
                    <f:selectItem itemLabel="First Level" />
                    <f:selectItem itemLabel="Second Level"/>
                    <f:selectItem itemLabel="Third Level"/>
                </p:selectOneMenu>

                <h:outputText  value="Drug Type" style="padding-left: 15px;"/>

                <p:selectOneMenu >
                    <f:selectItem itemLabel="First Level" />
                    <f:selectItem itemLabel="Second Level"/>
                    <f:selectItem itemLabel="Third Level"/>
                </p:selectOneMenu>

                <h:outputText  value="Pregnancy Category" />

                <p:selectOneMenu >
                    <f:selectItem itemLabel="First Level" />
                    <f:selectItem itemLabel="Second Level"/>
                    <f:selectItem itemLabel="Third Level"/>
                </p:selectOneMenu>

                <h:outputText  value="Lactaion" style="padding-left: 15px;"/>

                <p:selectOneMenu >
                    <f:selectItem itemLabel="First Level" />
                    <f:selectItem itemLabel="Second Level"/>
                    <f:selectItem itemLabel="Third Level"/>
                </p:selectOneMenu>
            </h:panelGrid>

            <h:panelGrid columns="20" cellpadding="20" />

            <h:panelGrid columns="3" cellpadding="5" >
                <p:selectBooleanCheckbox />

                <h:outputText  value="Black Box Warning"/>

                <p:inputTextarea rows="10" cols="48" queryDelay="550" minQueryLength="4" />
            </h:panelGrid>
        </div>

        <div class="ui-g-6" style="padding-left: 115px;">
            <h:panelGrid columns="4" cellpadding="5" >
                <p:selectBooleanCheckbox />

                <h:outputText  value="Has Synonym\s"/>

                <p:inputText value=""/>

                <p:button value="Add" />
            </h:panelGrid>
            <p:dataTable  scrollable="true" scrollHeight="300" value="#{1}">
                <p:column headerText="Action">

                    <p:commandButton  icon="fa fa-trash" />

                </p:column>

                <p:column headerText="Synonym">
                    <h:outputText value="Example " />
                </p:column>

            </p:dataTable>
        </div>
    </div> -->
</form>
