<div class="topbar">
        <div class="topbar-main">
            <a href="#" id="menu-button" (click)="app.onMenuButtonClick($event)">
                <span class="fa fa-bars"></span>
            </a>
            <a href="/">
                <img alt="main logo" src="assets/layout/images/logo-main.png" class="logo">
            </a>
            <div class="app-name">VERONA</div>

            <a href="#" id="user-display" (click)="app.onTopbarMenuButtonClick($event)">
                <span class="username">Samanta Owens</span>
                <span class="userrole">Admin</span>
                <img alt="main logo" src="assets/layout/images/avatar.png">
            </a>

            <ul id="topbar-menu" class="fadeInDown animated" [ngClass]="{'topbar-menu-visible': app.topbarMenuActive}">
                <li class="search-item">
                    <div>
                        <input type="text" pInputText placeholder="Search" />
                        <span class="fa fa-search"></span>
                    </div>
                </li>
                <li #profile [ngClass]="{'menuitem-active':app.activeTopbarItem === profile}">
                    <a href="#" (click)="app.onTopbarItemClick($event, profile)">
                        <i class="topbar-icon fa fa-fw fa-user"></i>
                        <span class="topbar-item-name">PROFILE</span>
                    </a>
                    <ul>
                        <li role="menuitem">
                            <a href="#" (click)="app.onTopbarSubItemClick($event)">
                                <i class="fa fa-fw fa-user"></i>
                                <span>Profile</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#" (click)="app.onTopbarSubItemClick($event)">
                                <i class="fa fa-fw fa-user-secret"></i>
                                <span>Privacy</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#" (click)="app.onTopbarSubItemClick($event)">
                                <i class="fa fa-fw fa-cog"></i>
                                <span>Settings</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#" (click)="app.onTopbarSubItemClick($event)">
                                <i class="fa fa-fw fa-sign-out"></i>
                                <span>Logout</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li #settings [ngClass]="{'menuitem-active':app.activeTopbarItem === settings}">
                    <a href="#" (click)="app.onTopbarItemClick($event, settings)">
                        <i class="topbar-icon fa fa-fw fa-cog"></i>
                        <span class="topbar-item-name">SETTINGS</span>
                    </a>
                    <ul>
                        <li role="menuitem">
                            <a href="#" (click)="app.onTopbarSubItemClick($event)">
                                <i class="fa fa-fw fa-paint-brush"></i>
                                <span>Change Theme</span>
                                <span class="topbar-submenuitem-badge">4</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#" (click)="app.onTopbarSubItemClick($event)">
                                <i class="fa fa-fw fa-star-o"></i>
                                <span>Favorites</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#" (click)="app.onTopbarSubItemClick($event)">
                                <i class="fa fa-fw fa-lock"></i>
                                <span>Lock Screen</span>
                                <span class="topbar-submenuitem-badge">2</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#" (click)="app.onTopbarSubItemClick($event)">
                                <i class="fa fa-fw fa-picture-o"></i>
                                <span>Wallpaper</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li #messages [ngClass]="{'menuitem-active':app.activeTopbarItem === messages}">
                    <a href="#" (click)="app.onTopbarItemClick($event, messages)">
                        <i class="topbar-icon material-icons animated swing fa fa-fw fa-envelope-o"></i>
                        <span class="topbar-item-name">MESSAGES</span>
                        <span class="topbar-badge animated rubberBand">4</span>
                    </a>
                    <ul>
                        <li role="menuitem">
                            <a href="#" class="topbar-message" (click)="app.onTopbarSubItemClick($event)">
                                <img alt="avatar 1" src="assets/layout/images/avatar1.png" width="35">
                                <span>Give me a call</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#" class="topbar-message" (click)="app.onTopbarSubItemClick($event)">
                                <img alt="avatar 2" src="assets/layout/images/avatar2.png" width="35">
                                <span>Reports attached</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#" class="topbar-message" (click)="app.onTopbarSubItemClick($event)">
                                <img alt="avatar 3" src="assets/layout/images/avatar3.png" width="35">
                                <span>About your invoice</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#" class="topbar-message" (click)="app.onTopbarSubItemClick($event)">
                                <img alt="avatar 2" src="assets/layout/images/avatar2.png" width="35">
                                <span>Meeting today</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#" class="topbar-message" (click)="app.onTopbarSubItemClick($event)">
                                <img alt="avatar 4" src="assets/layout/images/avatar4.png" width="35">
                                <span>Out of office</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li #notifications [ngClass]="{'menuitem-active':app.activeTopbarItem === notifications}">
                    <a href="#" (click)="app.onTopbarItemClick($event, notifications)">
                        <i class="topbar-icon fa fa-fw fa-bell-o"></i>
                        <span class="topbar-item-name">NOTIFICATIONS</span>
                        <span class="topbar-badge animated rubberBand">2</span>
                    </a>
                    <ul>
                        <li role="menuitem">
                            <a href="#" (click)="app.onTopbarSubItemClick($event)">
                                <i class="fa fa-fw fa-tasks"></i>
                                <span>Pending tasks</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#" (click)="app.onTopbarSubItemClick($event)">
                                <i class="fa fa-fw fa-calendar-check-o"></i>
                                <span>Meeting today</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#" (click)="app.onTopbarSubItemClick($event)">
                                <i class="fa fa-fw fa-download"></i>
                                <span>Download</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#" (click)="app.onTopbarSubItemClick($event)">
                                <i class="fa fa-fw fa-plane"></i>
                                <span>Book flight</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <app-menu [reset]="app.resetMenu"></app-menu>

    </div>
