<div class="layout-wrapper" [ngClass]="{'layout-menu-horizontal': menuMode === 'horizontal',
                                        'layout-menu-popup': menuMode === 'popup',
                                        'layout-menu-overlay': menuMode === 'overlay',
                                        'layout-menu-static': menuMode === 'static',
                                        'layout-menu-static-inactive': (menuMode == 'static' && menuActive === false)}"
                                        (click)="onLayoutClick()">
    <app-topbar></app-topbar>
        
    <div class="layout-content">
        <router-outlet></router-outlet>
    </div>

    <app-footer></app-footer>
</div>