<form>

    <div class="ui-g">
        <div class="ui-g-2">
            <label>Drug Trade Name</label>
        </div>
        <div class="ui-g-4">
            <input type="text" pInputText style="width: 100%" />
        </div>

        <div class="ui-g-1"></div>

        <div class="ui-g-1">
            <label>Code</label>
        </div>
        <div class="ui-g-3">
            <input type="text" pInputText />
        </div>
    </div>

    <div class="ui-g-">
        <div class="ui-g-2">
            <label>Dosage Form</label>
        </div>
        <div class="ui-g-2">
            <p-dropdown [options]="options"> </p-dropdown>
        </div>

        <div class="ui-g-1">
            <label style="padding-left: 20px">ROA</label>
        </div>
        <div class="ui-g-2">
            <p-multiSelect [options]="options"> </p-multiSelect>

        </div>

        <div class="ui-g-1">
            <label>Manufacture</label>
        </div>
        <div class="ui-g-2" style="width: 145px;">
            <p-dropdown [options]="options"> </p-dropdown>
        </div>

    </div>

    <div class="ui-g-12">

        <div class="ui-g-2">
            <label>Strength Value</label>
        </div>
        <div class="ui-g-2" style="width:145px;">
            <input type="text" pInputText style="width:100%;" />
        </div>

        <div class="ui-g-2" style="width: 130px;">
            <label style="padding-left: 20px">Strength Unit</label>
        </div>
        <div class="ui-g-2">
            <p-multiSelect [options]="options"> </p-multiSelect>
        </div>

        <div class="ui-g-1">
            <label>Status</label>
        </div>
        <div class="ui-g-2">
            <p-dropdown [options]="options"> </p-dropdown>
        </div>
    </div>


    <div class="ui-g-12">
        <div class="ui-g-2">
            <label>Active Ingredient</label>
        </div>
        <div class="ui-g-2">
            <p-multiSelect [options]="options"> </p-multiSelect>

        </div>

        <div class="ui-g-1"></div>

        <div class="ui-g-1" style="width:25px;">
            <p-radioButton value="Antiobiotic" name="AYA"></p-radioButton>
        </div>
        <div class="ui-g-1">
            <label>Antiobiotic</label>
        </div>
        <div class="ui-g-1"></div>
        <div class="ui-g-1" style="width:25px;">
            <p-radioButton value="Narcotic" name="AYA"></p-radioButton>

        </div>
        <div class="ui-g-1">
            <label>Narcotic</label>
        </div>
    </div>


    <div class="ui-g-12" style="margin-top: 20px;margin-bottom: 20px;">
        <div class="ui-g-12">
            <div class="ui-g-1" style="width:25px;">
                <p-checkbox name="groupname" value="Controlled"></p-checkbox>
            </div>
            <div class="ui-g-1">
                <label>Controlled</label>
            </div>

            <div class="ui-g-1"></div>

            <div class="ui-g-1" style="width:25px;">
                <p-checkbox name="groupname" value="Single Use"></p-checkbox>
            </div>
            <div class="ui-g-1">
                <label>Single Use</label>
            </div>

            <div class="ui-g-2"></div>

            <div class="ui-g-1" style="width:25px;">
                <p-checkbox name="groupname" value="Hazardous"></p-checkbox>
            </div>
            <div class="ui-g-1">
                <label>Hazardous</label>
            </div>

            <div class="ui-g-2" style="width: 125px;">
                <label>Level</label>
            </div>
            <div class="ui-g-2">
                <p-dropdown [options]="options"> </p-dropdown>
            </div>

        </div>

        <div class="ui-g-12">
            <div class="ui-g-1" style="width:25px;">
                <p-checkbox name="groupname" value="Sellable"></p-checkbox>
            </div>
            <div class="ui-g-1">
                <label>Sellable</label>
            </div>

            <div class="ui-g-1"></div>
            <div class="ui-g-1" style="width:25px;">
                <p-checkbox name="groupname" value="Orderable"></p-checkbox>
            </div>
            <div class="ui-g-1">
                <label>Orderable</label>
            </div>

            <div class="ui-g-2"></div>
            <div class="ui-g-1" style="width:25px;">
                <p-checkbox name="groupname" value="Inventory"></p-checkbox>
            </div>
            <div class="ui-g-1">
                <label>Inventory</label>
            </div>

            <div class="ui-g-2" style="width: 125px;">
                <label>ERP IntegrationID</label>
            </div>
            <div class="ui-g-2">
                <input type="text" pInputText style="width: 130px;" />
            </div>
        </div>

        <div class="ui-g-12">
            <div class="ui-g-1" style="width:25px;">
                <p-checkbox name="groupname" value="Not Interchangeble"></p-checkbox>
            </div>
            <div class="ui-g-1">
                <label>Not Interchangeble</label>
            </div>

            <div class="ui-g-1"></div>
            <div class="ui-g-1" style="width:25px;">
                <p-checkbox name="groupname" value="Scored"></p-checkbox>

            </div>
            <div class="ui-g-1">
                <label>Scored</label>
            </div>

            <div class="ui-g-2"></div>
            <div class="ui-g-1" style="width:25px;">
                <p-checkbox name="groupname" value="Expire After"></p-checkbox>
            </div>

            <div class="ui-g-1">
                <label>Expire After</label>
            </div>

            <div class="ui-g-2" style="width: 125px;">
                <label>Hours of opening</label>
            </div>
            <div class="ui-g-2">
                <input type="text" pInputText style="width: 130px;" />
            </div>
        </div>

        <div class="ui-g-12">
            <div class="ui-g-1" style="width:25px;">
                <p-checkbox name="groupname" value="Should be refrigerated"></p-checkbox>
            </div>
            <div class="ui-g-1">
                <label>Should be refrigerated</label>
            </div>

        </div>
    </div>

    <p-tabView>
        <p-tabPanel header="Units Of Measurments">

            <table>
                <thead>
                    <tr>
                        <td>UOM</td>
                        <td>
                            <p-dropdown [options]="options"> </p-dropdown>
                        </td>
                        <td style="padding-left: 15px;">
                            <button pButton type="button" label="Add"></button>
                        </td>
                    </tr>
                </thead>
            </table>

            <p-table>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Action</th>
                        <th>UOM</th>
                        <th>Unit Order</th>
                        <th>Unit Relation</th>
                        <th>Sellable</th>
                        <th>StockOut</th>
                        <th>Default Order Unit</th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body">
                    <tr>
                        <td>
                            <button pButton type="button" label="edit" icon="fa-pencil-square-o"></button>
                            <button pButton type="button" label="delete" icon="fa-trash"></button>
                        </td>
                        <td>
                            <label>Example</label>
                        </td>
                        <td>
                            <input type="text" pInputText />
                        </td>
                        <td>
                            <input type="text" pInputText />
                        </td>
                        <td>
                            <p-checkbox name="groupname" value=" "></p-checkbox>
                        </td>
                        <td>
                            <p-checkbox name="groupname" value=" "></p-checkbox>
                        </td>
                        <td>
                            <p-checkbox name="groupname" value=" "></p-checkbox>
                        </td>
                    </tr>
                </ng-template>
            </p-table>


            <!-- <table class="table">
                  <thead>
                      <tr>
                          <td>Action</td>
                          <td>UOM</td>
                          <td>Unit Order</td>
                          <td>Unit Relation</td>
                          <td>Sellable</td>
                          <td>StockOut</td>
                          <td>Default Order Unit</td>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td> <button pButton type="button" label="edit" icon="fa-pencil-square-o"></button> 
                            <button pButton type="button" label="delete" icon="fa-trash"></button>
                        </td>
                      </tr>
                  </tbody>
              </table> -->
        </p-tabPanel>
        <p-tabPanel header="Price">

            <div class="ui-g-12">
                <div class="ui-g-1">
                    <label>Cost Price</label>
                </div>
                <div class="ui-g-2">
                    <input type="text" pInputText />

                </div>
                <div class="ui-g-1"></div>

                <div class="ui-g-1">
                    <label>Percentage</label>
                </div>
                <div class="ui-g-2">
                    <input type="text" pInputText />
                </div>
                <div class="ui-g-1"></div>

                <div class="ui-g-1" style="width: auto;">
                    <p-checkbox name="groupname" value="Has Taxes"></p-checkbox>
                </div>
                <div class="ui-g-1">
                    <label>Has Taxes</label>
                </div>
                <div class="ui-g-2">
                    <input type="text" pInputText />

                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-1">
                    <label>Cost Price</label>
                </div>
                <div class="ui-g-2">
                    <input type="text" pInputText />
                </div>

                <div class="ui-g-1"></div>
                <div class="ui-g-1">
                    <label>Cost Price</label>
                </div>

                <div class="ui-g-2">
                    <p-dropdown [options]="options"> </p-dropdown>
                </div>
            </div>
            <div class="ui-g-12">
                <button pButton type="button" label="Add to price"></button>
            </div>
            <div class="ui-g-12">
                <button pButton type="button" label="View price list "></button>
            </div>
        </p-tabPanel>
    </p-tabView>

    <div class="ui-g-12">
        <button pButton type="button" label="Save" style="height: 33px; width: 70px;"></button>
        <button pButton type="button" label="Cancel" style="margin-left: 20px; margin-top: 25px;
        height: 33px; width: 70px;"></button>

    </div>

</form>